.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-title {
    font-size: 24px;
    color: #1E90FF; /* Light blue color */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    background-color: #1E90FF;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #007BFF;
}

.forgot-password-btn {
    background: none;
    border: none;
    color: #1E90FF;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.forgot-password-btn:hover {
    text-decoration: underline;
}
